$luciSans:'Lucida Sans';
$luciSansReg: 'Lucida Sans Regular';
$luciGrand:'Lucida Grande';
$luciSansUni:'Lucida Sans Unicode'; 
$gen: 'Geneva'; 
$verd:Verdana; 
$sanSer:sans-serif;

$bcFooter: rgba(128, 128, 128, 0.658);